/*body style*/
body{
    background-color: rgb(183, 183, 232);
    margin: 0;
    padding: 0;
}

/*main conten style*/
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 250px;

}

/*input files style*/
#jockInput{
    padding: 30px;
    margin: 20px;
    width: 500px;
}

/* genarate jock button style*/
.btn{
    padding: 20px;
    background-color: rgb(170, 96, 240);
    color: rgb(16, 14, 14);
    text-align: center;
    font-size: larger;
    border: 2px solid purple;
}

.btn:hover{
    background-color: purple;
    cursor: grab;   
}

